* {
  box-sizing: border-box;
}

body {
  background-image: url('./img/vintage-wallpaper.png');
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: #A1B5FF;
  padding: 8px;
}

:root{
  --text-color: #A1B5FF;
  --hover-color: rgb(107, 139, 253);
  --background-color: rgba(6, 20, 70, 0.8);
}